
.padTop {
    padding-top: 12%;
}

.con {
    height: 3em;
    padding-top: 1%
}

.con2 {
    font-size: 65px !important;

}


.rightContainer {
    // background-color: #c3e6cb;
    // border-color: #c3e6cb;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

