

  <div class="container">

    <div style="padding-top:15px; height:50px">
      <div class="row">
        <div class="col-3">
          <h5><small>Welcome, </small>{{currentUser.user}}</h5>
        </div>
        <div class="col-9">
            <div *ngIf="showMessage">
                <app-message></app-message>
              </div>
      </div> 
    </div>
  </div>
  </div>
<div class="container" style="padding-top:30px">
  <div *ngIf="!complete">

    <div class="row nopadding">
      <div class="col-md-7 nopadding">
        <div class="list-group">
          <app-golfer-details (userDetailsUpdate)="updateUser($event)" (draftMessage)="onDraftGolfer($event)"
            (notifyDraftComplete)="notified($event)" [users]="users" [turn]="turn" [currentUser]="currentUser">
          </app-golfer-details>
        </div>
      </div>
      <div class="col-md-5 rightContainer" *ngIf="!complete">
        <div class="sticky-top">
          <app-chat [user]="currentUser" [users]="users"></app-chat>
          <div class="padTop" *ngIf="!complete">
            <app-user-details [users]="users"></app-user-details>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div *ngIf="complete">
    <app-draft-complete [users]="users" [currentUser]="currentUser"></app-draft-complete>
  </div>

</div>