<nav class="navbar navbar-expand-lg navbar-light bg-light navbar">
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="signOut()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<div class="jumbotron jumbotron-fluid ">
  <div class="container ">
    <div class="row">
      <div class="col-6">
        <h1 class="display-4 ">2019 Masters Draft</h1>
        <p class="lead">The draft will begin when the 8th user logs in.</p>
      </div>
      <div class="col-6">
        <div *ngIf="showMessage">
          <app-message></app-message>
        </div>
      </div>
    </div>



    <!-- <img class="imgHeight .img-fluid. max-width: 100%;" src="../assets/images/Augusta-Featured.jpg"> -->
  </div>
</div>


<div class="container">
    <div class="row">
      <div class="col-7">
        <div class="list-group">
         
            <app-golfer-details (userDetailsUpdate)="updateUser($event)" (draftMessage)="onDraftGolfer($event)" [users]="users" [turn]="turn"
              [currentUser]="currentUser"></app-golfer-details>
      
        </div>
      </div>
      <div class="col-5">
        <app-user-details [users]="users"></app-user-details>
        <div class="padTop">
            <app-chat [user]="currentUser" [users]="users"></app-chat>
        </div>
      </div>
    </div>
</div>