

      <h2>Login</h2>
    <div class="forms">
      <div class="input-group input-group-lg username">
        <input type="text" class="form-control" placeholder="Username" [(ngModel)]="username">
      </div>
      <div class="input-group input-group-lg password">
        <input type="password" class="form-control" placeholder="password" [(ngModel)]="password">
      </div>
      <div class="text-center buttonPad">
      <button type="button" class="btn btn-primary btn-lg" (click)="loginUser(username, password)">Login</button>
      <div *ngIf="loginError" padding-top class="alert alert-danger" role="alert">
          {{errMessage}}
        </div>
    </div>
    </div>
