// .background {
//     background-color: #F0EDE5;
//     height: 100%;
// }


// .cardCon{
//     padding-top: 100px;
//     padding-left: 220px
// }

// .moreCard{
    
//     min-height: 25rem;
//     max-width: 50rem;
// }

.forms {
    padding-top: 40px;
}

.password {
    padding-top: 20px;
}

.buttonPad {
    padding-top: 40px;
}


