
.title {
    font-family: 'Staatliches', cursive;
}

.padTop {
    padding-top: 20%;
}


.registeredColor {
    color: #fff;
}


.forms {
    padding-top: 40px;
}

.password {
    padding-top: 20px;
}

.buttonPad {
    padding-top: 40px;
}



