
<div class="card text-white bg-info mb-3">
  <img class="card-img" src="../../../assets/img/golf.jpg">
  <div class="card-img-overlay">
    <div class="display-4 title">2019 Masters Draft</div>
    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
          </div>
          <div class="col-md-4">
            <div *ngIf="registerPage">
              <h2 class="card-title">Register</h2>
              <div class="forms">
                <div class="card-text input-group input-group-lg username">
                  <input type="text" class="form-control" placeholder="Username" [(ngModel)]="username">
                </div>
                <div class="card-text input-group input-group-lg password">
                  <input type="password" class="form-control" placeholder="Password" [(ngModel)]="password">
                </div>
                <div class="card-text input-group input-group-lg password">
                  <input type="password" class="form-control" placeholder="Confirm Password" [(ngModel)]="passwordConfirm">
                </div>
                <div class="text-center buttonPad">
                  <button type="button" class="btn btn-primary btn-lg" (click)="registerUser(username, password, passwordConfirm)">Submit</button>
                </div>
                <div *ngIf="registrationError" class="padTop" class="alert alert-danger" role="alert">
                  {{errMessage}}
                </div>
                <div (click)="navToLogin()" class="padTop">
                  <a>
                    <h5 class="registeredColor">Already registered? <span class="badge badge-primary">Click</span></h5>
                  </a>
                </div>
              </div>
            </div>
            <div *ngIf="!registerPage">
              <div @myInsertRemoveTrigger>
                  <app-login></app-login>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>